/* itemFind.css */

/* 전체적인 레이아웃 스타일 */
.row {
    margin-top: 10px;
    padding-top: 10px;
}

/* 왼쪽 상단 영역 스타일*/
#left {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

#left-row {
    justify-content: flex-end;
}

/* left-p 스타일 */
#left-p {
    text-align: right;
    width: 150px;
}

#left-img {
    width: 100px;
    display: flex; /* 추가: 내부 내용을 가로 정렬하기 위해 */
    /* justify-content: flex-end; 추가: 내부 내용을 오른쪽 정렬하기 위해 */
}

/* 프로필 사진 스타일 */
#left-img img {
    margin-left: 10px;
    /* 프로필 사진과 텍스트 사이의 간격을 조절합니다. */
    width: 50px;
    height: 50px;
}

/* 오른쪽 상단 영역 스타일 */
#right-top {
    display: flex;
    align-items: center;
    /* 요소들을 수직으로 가운데 정렬합니다. */
    justify-content: flex-end;
    margin-bottom: 100px;
}

/* 버튼과 아이콘 간격 조절 */
#right-top img {
    margin-right: 10px;
}

/* 프로필 이름 스타일 */
#profilename {
    font-family: 'Do Hyeon', cursive;
    font-size: 35px;
    /* 폰트 크기 조절 */
    font-weight: bold;
    /* 폰트 굵기 조절 */
    color: #333;
    /* 폰트 색상 조절 */
    margin: 0px;
}

#activearea {
    font-family: 'Do Hyeon', cursive;
    font-size: 20px;
    color: #333;
    margin: 0px;
}

/* 알림 아이콘 스타일 */
#notification {
    width: 40px;
    height: 40px;
}

/* 텍스트 스타일 */
.text {
    font-family: 'Do Hyeon', cursive;
    font-size: 20px;
    /* 폰트 크기 조절 */
    margin: 10px;
}

.keytext {
    font-family: 'Do Hyeon', cursive;
    font-size: 20px;
    text-align: right;
}

#right-top,
#right-bottom {
    width: 100%;
}

.horizontal-line {
    width: 260px;
    border-top: 1px solid #333; /* 수평 구분선의 스타일 지정 */
    margin: 10px 0; /* 여백 조절 */
}

#keyword {
    justify-content: flex-end;
}

.add-button {
    background-color: white;
    padding: 5px;
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Do Hyeon', cursive;
}

.result-text {
    font-family: 'Do Hyeon', cursive;
    text-align: right;
    padding-right: 10px;
}

#blackalram {
    background-color: #333;
    color: white;
    height: 30px;
    padding: 2px;
    padding-left: 10px;
    font-family: 'Do Hyeon', cursive;
    font-size: 20px;
}

/* 목록 스타일 */
ul li {
    list-style-type: none; /* li의 기본 점을 없앱니다. */
    position: relative;
    padding-left: 20px; /* li 내용과 점 사이의 간격을 조절합니다. */
    font-family: 'Do Hyeon', cursive;
    font-size: 20px;
    display: inline-block;
    width: 950px;
}

ul li::before {
    content: "•"; /* 점의 내용을 설정합니다. */
    color: red; /* 점의 색상을 빨간색으로 지정합니다. */
    font-size: 22px; /* 점의 크기를 조절합니다. */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px; /* 점과 li 내용 사이의 간격을 조절합니다. */
}

ul p {
    display: inline-block; /* p를 인라인 블록으로 설정하여 li 옆으로 이동시킵니다. */
    margin-left: 10px; /* p와 li 사이의 간격을 조절합니다. */
    font-family: 'Do Hyeon', cursive;
    text-align: right;
    width: 100px;
}
