/* 오른쪽 상단 영역 스타일 */
#right-top {
    display: flex;
    align-items: center; /* 요소들을 수직으로 가운데 정렬합니다. */
    justify-content: flex-end; /* 요소들을 오른쪽으로 정렬합니다. */
}

/* 버튼과 아이콘 간격 조절 */
#right-top img {
    margin-left: 10px; /* 아이콘과 텍스트 사이의 간격을 조절합니다. */
}

/* 알림 아이콘 스타일 */
#notification {
    width: 40px;
    height: 40px;
}

/* 텍스트 스타일 */
#text {
    font-family: 'Do Hyeon', cursive;
    font-size: 20px; /* 폰트 크기 조절 */
    margin: 10px;
}

/* ... (기존 스타일) ... */

#message,
#checking,
#OkBtn,
#buttonField,
#checkfield {
    font-family: 'Do Hyeon', cursive;
    text-align: center;
}

#message {
    font-size: 50px;
    margin-top: 50px; /* 상단 여백 추가 */
    margin-bottom: 100px;
}

#checking {
    border-bottom: 2px solid gray;
    font-size: 30px;
    width: 500px;
    margin: 20px auto; /* 중앙 정렬을 위한 수정 */
    padding-bottom: 20px; /* 텍스트와 하단 테두리 간격 추가 */
}

#buttonField {
    margin-top: 20px; /* 상단 여백 추가 */
}

#OkBtn {
    background-color: white;
    border: 10px solid #333;
    font-size: 30px;
}

